@(doiMetadataList: DoiMetadataList)(implicit request: RequestHeader, messages: Messages)

@views.html.layout.base("DOI List") {
  <ul>
  @for(doiMetadata <- doiMetadataList.dois) {
    <li id="doi-@doiMetadata.id">
    @defining(doiMetadata.asDataCiteMetadata) { dcm =>
      <div class="doi-list-item">
        <header>
          <h3 class="doi-metadata">
            <a href="@routes.DoiController.get(doiMetadata.prefix, doiMetadata.suffix)">
            @dcm.title
            </a>
            <span class="doi-state-container doi-state-@doiMetadata.state">
              <span class="doi-state-icon"></span>
              <span class="doi-state-text">
                @doiMetadata.state
              </span>
            </span>
          </h3>
        </header>
      </div>
    }
    </li>
  }
  </ul>
}