@(pid: Pid, metadata: DataCiteMetadata, prod: Boolean = false)(implicit request: RequestHeader, messages: Messages, profile: DoiProfile, config: AppConfig)

@implicitLang = @{messages.lang}

@headingIfNotEmpty(headingCode: String)(html: Html) = {
  @if(html.body.trim.nonEmpty) {
    <h2>@Messages(headingCode)</h2>
    @html
  }
}

@relatedIdentifierSection(relatedIdentifiers: Seq[RelatedIdentifier], `type`: RelationType.Value) = {
  @defining(relatedIdentifiers.filter(item => item.relationType == `type`)) { typeIdentifiers =>
    @if(typeIdentifiers.nonEmpty) {
      <div class="related-identifier-type">
      @if(typeIdentifiers.nonEmpty) {
        <h4>@Messages("dataCite.relationType." + `type`)</h4>
        <ul class="related-identifier-list">
        @typeIdentifiers.map { obj =>
          <li class="related-identifiers">
            @config.resolvePid(obj.relatedIdentifier, obj.relatedIdentifierType, prod).map { pidUrl =>
              <a href="@pidUrl">@pidUrl</a> (@obj.relatedIdentifierType)
            }.getOrElse {
              @obj.relatedIdentifier (@obj.relatedIdentifierType)
            }
            @obj.resourceTypeGeneral.filter(_ != ResourceTypeGeneral.Other).map { rtg =>
              <span class="resource-type-general badge">
                @Messages("dataCite.resourceTypeGeneral." + rtg)
              </span>
            }
          </li>
        }
        </ul>
      }
      </div>
    }
  }
}

@relatedItemsSection(relatedItems: Seq[RelatedItem], `type`: RelationType.Value) = {
  @defining(relatedItems.filter(item => item.relationType == `type`)) { typeIdentifiers =>
    @if(typeIdentifiers.nonEmpty) {
      <div class="related-item-type">
      @if(typeIdentifiers.nonEmpty) {
        <h4>@Messages("dataCite.relationType." + `type`)</h4>
        <ul class="related-item-list">
        @typeIdentifiers.map { obj =>
          <li class="related-items">
            @defining(obj.relatedItemIdentifier.map(rii => config.resolvePid(rii.relatedItemIdentifier, rii.relatedItemIdentifierType, prod))) { urlOpt =>
              @urlOpt.map { url =>
                <a href="@url">@obj.titles.flatMap(_.headOption.map(_.title)).getOrElse(url)</a>
              }.getOrElse {
                @obj
              }
              @if(obj.relatedItemType != ResourceTypeGeneral.Other) {
                <span class="resource-type-general">
                  @Messages("dataCite.resourceTypeGeneral." + obj.relatedItemType)
                </span>
              }
            }
          </li>
        }
        </ul>
      }
      </div>
    }
  }
}

@datePropertyAttr(dateType: DateType.Value) = @{
  dateType match {
    case DateType.Created => "created"
    case DateType.Updated => "modified"
    case DateType.Submitted => "dateSubmitted"
    case DateType.Accepted => "dateAccepted"
    case DateType.Copyrighted => "dateCopyrighted"
    case _ => "date"
  }
}

@extraHead = {
  <meta name="DC.identifier" content="@config.doiUrl(pid.value, prod)">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/citation-js/0.7.17/citation.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
  <script>
          const doi = "@pid.value";
          const doiUrl = "@config.doiUrl(pid.value, prod)";
          const Cite = require('citation-js');
          const productionDOI = @prod;

          let loadPreview = function () {
            let previewContainer = document.getElementById("preview-container");
            if (previewContainer) {
              const url = previewContainer.getAttribute("data-url");
              if (url) {
                fetch("@routes.PreviewController.preview(url=pid.target)").then(r => {
                  r.text().then(text => {
                    previewContainer.innerHTML = text;
                    previewContainer.classList.add("loaded");
                  });
                });
              }
            }
          };

          document.addEventListener('DOMContentLoaded', loadPreview, false);
  </script>
  <script src="@routes.Assets.versioned("js/cite-doi.js")"></script>
}

@views.html.layout.base(metadata.title.getOrElse(Messages("doi.doi", pid.value)), extraHead = extraHead, vocab = Some("http://purl.org/dc/terms/"), bodyClasses = Seq("landing-page")) {
  <section class="page-content">
  <section class="doi-banner">
    <div class="doi-identifier">
      <span property="identifier">
        <a href="@config.doiUrl(pid.value, prod)">@config.doiUrl(pid.value, prod)</a>
      </span>
    </div>
    <div class="doi-actions">
      <!--<a href="#" id="doi-share-action" class="button-primary">Share</a>-->
    </div>
  </section>

  <article class="metadata-section" typeof="ScholarlyArticle" resource="#publication">
    <header class="metadata-titles">
      @metadata.titles.headOption.map { obj =>
        <h1 property="title">@obj.title</h1>
      }
      @metadata.titles.tail.filter(_.titleType.contains(TitleType.Subtitle)).map { obj =>
        <h2 role="doc-subtitle" class="subtitle" property="alternative">@obj.title</h2>
      }
      @metadata.titles.tail.filter(_.titleType.contains(TitleType.AlternativeTitle)).map { obj =>
        <h2 role="doc-subtitle" class="alternative-title" property="alternative">@obj.title</h2>
      }
      @metadata.titles.tail.filter(_.titleType.contains(TitleType.TranslatedTitle)).map { obj =>
        <i role="doc-subtitle" class="translated-title" property="alternative">@obj.title</i>
      }
    </header>

    @metadata.state.map { state =>
      @if(state != DoiState.Findable) {
        <div class="alert alert-warning" role="alert">
          <strong>@Messages("notice"): </strong>
          @Messages("dataCite.state.showingUnpublishedWarning")
        </div>
      }
    }

    @for(related <- metadata.relatedIdentifiers.toSeq.flatten) {
      @if(related.relationType == RelationType.IsPreviousVersionOf && related.relatedIdentifierType == RelatedIdentifierType.DOI) {
        <div class="alert alert-info" role="alert">
          There is a newer version of this item available at:
          <a href="@config.doiUrl(related.relatedIdentifier, prod)">@config.doiUrl(related.relatedIdentifier, prod)</a>
        </div>
      }
    }

    @if(metadata.creators.nonEmpty) {
      <div class="metadata-item">
        <div class="metadata-label">@Messages("dataCite.creators")</div>
        @views.html.dois.common.creatorList(metadata.creators)
      </div>
    }

    @metadata.descriptions.toSeq.flatten.map { description =>
      <div class="metadata-item" property="description">
        <label class="metadata-label">
          @description.descriptionType.map { descType =>
            @Messages(s"dataCite.descriptionType.$descType")
          }.getOrElse {
            @Messages("dataCite.description")
          }
        </label>
        <p class="metadata-value abstract-text">
          @description.description
        </p>
      </div>
    }

    @pid.tombstone.map { tombstone =>
      <div class="preview-container">
        <div class="alert alert-danger" role="alert">
          <h1>@Messages("errors.gone")</h1>
          <p>@Messages("errors.gone.description")</p>
        </div>
      </div>
    }.getOrElse {
      <div id="preview-container" data-url="@pid.target">
        @views.html.preview("", "", "<i class=\"fa fa-spin fa-circle-o-notch fa-2x\"></i>", None)
      </div>
    }

    @headingIfNotEmpty("dataCite.otherInformation") {
      @if(metadata.contributors.exists(_.nonEmpty)) {
        <div class="metadata-item">
          <div class="metadata-label">@Messages("dataCite.contributors")</div>
          <div class="metadata-value">
            @metadata.contributors.toSeq.flatten.map { obj =>
              <ul class="contributors-list">
                <li class="contributor-item">
                  <span property="author" typeof="Person">
                    <span property="name">@obj.name</span>
                  </span>
                  <span class="contributor-role">@obj.contributorType</span>
                  @obj.nameIdentifiers.toSeq.flatten.map { ident =>
                    @if(ident.nameIdentifierScheme == "ORCID") {
                      <span class="contributor-orcid">
                        <a href="https://orcid.org/@ident.nameIdentifier" target="_blank">
                          <img src="@routes.Assets.versioned("images/orcid-auth.svg")" alt="ORCID logo">
                        </a>
                      </span>
                    }
                  }
                </li>
              </ul>
            }
          </div>
        </div>
      }

      @if(metadata.subjects.exists(_.nonEmpty)) {
        <div class="metadata-item">
          <div class="metadata-label">@Messages("dataCite.subjects")</div>
          <div class="metadata-value">
            <ul>
              @metadata.subjects.toSeq.flatten.map { obj =>
                <li><span property="subject">@obj.subject</span></li>
              }
            </ul>
          </div>
        </div>
      }

      @if(metadata.relatedIdentifiers.exists(_.nonEmpty) || metadata.relatedItems.exists(_.nonEmpty)) {
        <div class="metadata-item">
          <div class="metadata-label">@Messages("dataCite.relatedIdentifiers")</div>
          <div class="metadata-value">
          @RelationType.values.toSeq.map { relationType =>
            @relatedIdentifierSection(metadata.relatedIdentifiers.toSeq.flatten, relationType)
            @relatedItemsSection(metadata.relatedItems.toSeq.flatten, relationType)
          }
          </div>
        </div>
      }
    }
  </article>

  <aside id="sidebar">

    <section class="sidebar-section" id="metadata-details">
      <header class="sidebar-header">
        <h2>@Messages("pid.details")</h2>
      </header>
      <div class="sidebar-section-content details-grid">
        <div class="metadata-item">
          <div class="metadata-label">@Messages("dataCite.types.resourceType"):</div>
          <div class="metadata-value">
            <span property="type">@Messages("dataCite.resourceTypeGeneral." + metadata.types.resourceTypeGeneral)</span>
            @metadata.types.resourceType.map { rt =>
              <span class="resource-type">
                |
                @Messages(rt)
              </span>
            }
          </div>
        </div>

        @metadata.publisher.map { publisher =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.publisher"):</div>
            <div class="metadata-value" property="publisher" typeof="Organization">
              <span property="name">
              @publisher.publisherIdentifier.map { ident =>
                @if(publisher.publisherIdentifierScheme.contains("ROR")) {
                  <a href="@ident">@publisher.name</a>
                } else {
                  @publisher.name
                }
              }.getOrElse {
                @publisher.name
              }
              </span>
            </div>
          </div>
        }

        @metadata.publicationYear.map { year =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.publicationYear"):</div>
            <div class="metadata-value" property="datePublished">@year</div>
          </div>
        }

        @metadata.formats.filter(_.nonEmpty).map { fmts =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.format"):</div>
            <ul class="metadata-value metadata-value-list">
            @fmts.map { fmt =>
              <li class="format-item" property="format">@fmt</li>
            }
            </ul>
          </div>
        }

        @metadata.sizes.filter(_.nonEmpty).map { sizes =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.size"):</div>
            <ul class="metadata-value metadata-value-list">
            @sizes.map { size =>
              <li class="size-item">@size</li>
            }
            </ul>
          </div>
        }

        @metadata.language.map { lang =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.language"):</div>
            <div class="metadata-value" property="language">@_root_.utils.data.languageCodeToName(lang)</div>
          </div>
        }

        @metadata.version.map { version =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.version"):</div>
            <div class="metadata-value" property="version">@version</div>
          </div>
        }

        @metadata.state.map { state =>
          <div class="metadata-item">
            <div class="metadata-label">@Messages("dataCite.state"):</div>
            <div class="metadata-value">@Messages("dataCite.state." + state)</div>
          </div>
        }
      </div>
    </section>

    @if(metadata.rightsList.exists(_.nonEmpty)) {
      <section class="sidebar-section" id="metadata-rights">
        <header class="sidebar-header">
          <h2>@Messages("pid.rights")</h2>
        </header>
        <div class="sidebar-section-content">
          @metadata.rightsList.toSeq.flatten.map { obj =>
            <div class="metadata-item">
              <div class="metadata-value" property="license">
                @obj.schemeUri.map { uri =>
                <a href="@uri" target="_blank">@obj.rights</a>
                }.getOrElse {
                  <span>@obj.rights</span>
                }
              </div>
            </div>
          }
        </div>
      </section>
    }

    <section class="sidebar-section" id="metadata-citation">
      <header class="sidebar-header">
        <h2>@Messages("pid.citeThisItem")</h2>
      </header>
      <div class="sidebar-section-content">
        <div class="citation-formats">
          <div class="citation-result">
            <div id="citation-text" class="citation-text"></div>
          </div>
          <div class="citation-controls">
            <label for="citation-format-selector">@Messages("pid.citeThisItem.format")</label>
            <select id="citation-format-selector">
              <option value="apa" selected>APA</option>
              <option value="mla">MLA</option>
              <option value="chicago">Chicago</option>
              <option value="harvard">Harvard</option>
              <option value="bibtex">BibTeX</option>
              <option value="ris">RIS</option>
            </select>
            <button id="copy-citation" class="button-primary">
              <i class="fa fa-copy"></i>
              Copy
            </button>
            <span id="citation-copied">@Messages("pid.citationCopied")</span>
          </div>
        </div>
      </div>
    </section>

    @if(metadata.dates.exists(_.nonEmpty)) {
      <section class="sidebar-section" id="metadata-dates">
        <header class="sidebar-header">
          <h2>@Messages("dataCite.dates")</h2>
        </header>
        <div class="sidebar-section-content details-grid">
          @metadata.dates.toSeq.flatten.map { obj =>
            <div class="metadata-item">
              <div class="metadata-label">@Messages("dataCite.dateType." + obj.dateType):</div>
              <div class="metadata-value" property="@datePropertyAttr(obj.dateType)">@obj.date</div>
            </div>
          }
        </div>
      </section>
    }
  </aside>
  </section>
}