/**
 * Globals
 */
// region Global
$headings-font-family: 'Barlow', sans-serif;
$font-family-base: 'Noto Serif', serif;

// Font sizing
$font-size-base: 1.0625rem;
$font-size-xs: 0.625rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.75rem;
$font-size-title: 2rem;

// Font weightings
$font-weight-reg: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// General spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

// Common colours
$wine-red: #771646;
$purple: #3E274B;
$dark-blue: #314053;
$grey-light: #F8F8F8;
$grey-dark: #46463D;
$grey-darker: #3B3B3B;
$beige: #D5D2B8;
$white: #FFF;
$black: #46463D;

// Backgrounds
$beige-light: linear-gradient(0deg, rgba(213, 210, 184, 0.2), rgba(213, 210, 184, 0.2)), #FFFFFF;

// Breakpoints
//$max-width: 1742px; // of design
$breakpoint-wide: 1440px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 576px;

// Box shadows
$box-shadow-sm: 0 $space-xs $space-sm rgba(0, 0, 0, .175);
