@(url: String, title: String, desc: String, image: String)(implicit messages: Messages)

<div class="target-card">
  <div class="target-img">
    <a href="@url" aria-label="@Messages("target.link.accessibility")">
    @if(image.nonEmpty) {
      <img src="@image" alt="Image for item">
    } else {
      <img src="@routes.Assets.versioned("images/target-image-placeholder.svg")" alt="Image for item">
      }
    </a>
  </div>
  <div class="target-info">
    <header class="target-header">
      <a href="@url" aria-label="@Messages("target.link.accessibility")">
        <h2 class="target-title" property="name">@title</h2>
      </a>
      <h3><a href="@url">@url</a></h3>
    </header>
    <a href="@url" class="target-description" aria-label="@Messages("target.link.accessibility")">
      @Html(desc)
    </a>
  </div>
</div>
