@(url: String, title: String, desc: String, image: String)(implicit messages: Messages)

<div class="target-card">
  <div class="target-img">
    @if(image.nonEmpty) {
      <img src="@image" alt="Image for item">
    } else {
      <img src="@routes.Assets.versioned("images/target-image-placeholder.svg")" alt="Image for item">
    }
  </div>
  <div class="target-info">
      <header class="target-header">
        <h2 class="target-title" property="name">
          <span>@title</span>
        </h2>
      </header>
      <div class="target-description">
        @Html(desc)
      </div>
  </div>
  <footer class="target-footer">
    <a href="@url">@url</a>
  </footer>
</div>
