
.resource-type-general {
  font-weight: bold;
}

.metadata-value-list
{
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.metadata-value-list li {
  &:after {
    content: ',';
  }
}

.metadata-value-list li:last-child {
  &:after {
    content: '';
  }
}