
.page-content {
  display: grid;

  grid-template-areas:
    "banner" "article" "sidebar";
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @media(min-width: $breakpoint-laptop) {
    grid-template-areas:
      "banner banner"
      "article sidebar";
    grid-template-columns: 1fr 30%;
  }
}

.page-content article.metadata-section {
  grid-area: article;
}

.page-content section.doi-banner {
  grid-area: banner;
  background-color: var(--theme-header-bg-accent);
}

.page-content #sidebar {
    grid-area: sidebar;
}

.sidebar-section {
    @include card();
    margin-bottom: $space-lg;
    padding: $space-lg;

  header h2 {
    font-size: var(--font-size-lg);
    margin-bottom: $space-md;
    margin-top: 0;
  }
}


.resource-type-general {
  font-weight: bold;
}

.metadata-titles h1 {
  margin: 0 0 $space-lg 0;
}

.metadata-value-list
{
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.metadata-value-list > li {
  &:after {
    content: ',';
  }
}

.metadata-value-list > li:last-child {
  &:after {
    content: '';
  }
}

// DOI State badges. TODO: Clean this up.
.doi-state-container {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.doi-state-icon {
  border-radius: 50%;
}

.doi-state-draft {
  background-color: #f0f0f0;
  color: #666;
}

.doi-state-draft .doi-state-icon {
  background-color: #999;
}

.doi-state-registered {
  background-color: #e6f2ff;
  color: #0066cc;
}

.doi-state-registered .doi-state-icon {
  background-color: #0066cc;
}

.doi-state-findable {
  background-color: #e6f7f0;
  color: #009966;
}

.doi-state-findable .doi-state-icon {
  background-color: #009966;
}

/**
 * Citation box
 */
.citation-controls {
  margin-bottom: $space-sm;

  label {
    display: none;
  }
}

.citation-result {
  overflow: auto;
  margin-bottom: $space-sm;
  font-size: var(--font-size-sm);
  font-family: 'monospace';
}

.citation-text {
  margin-right: auto;
  color: var(--theme-fg-accent);
  white-space: break-spaces;
}

.citation-icon {
  color: var(--theme-fg-accent);
}

